@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');


//Colors
$beige: #E9E6D6;
$white: #FFFFFF;
$greyWhite: #F2F2F2;
$textColor: #000000;

$hoverButton: #D5D1D1;
$activeButton: #666666;

$errorMessageColor: #CC0000;

//Fonts
$headingFont: 'Abel', sans-serif;
$textFont: 'Libre Franklin', sans-serif;
