@import "./global.scss";

.favoriteExercisesContainer {

    margin: 2rem 0rem 5rem 0rem;
    padding: 0rem 1.5rem;

    .title {
        font-family: $headingFont;
        font-size: 1.5rem;
    }

    .backButton {
        background-color: $beige;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
        font-family: $textFont;
        text-decoration: none;
        color: $textColor;
        cursor: pointer;
    }

    table {
        margin: 0px auto;
        text-align: center;
    }

    table, thead, th, tr, td {
        border: 1px solid black;
        border-collapse: collapse; 
        font-family: $textFont;
    
        td, th {
            padding: 1rem;
        }

        .exerciseTitle {     
            color: $textColor;
        }

        button {
            background-color: $beige;
            border: 1px solid black;
            border-radius: 5px;
            padding: 0.5rem 1rem;
            font-size: 0.75rem;
        }
    }
}

