@import "./global.scss";

.header {
    background-color: $beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    .logo {
        width: 150px;
        height: auto;
        margin: 1rem;
    }

    .toggleContainer {
       
        img{
            width: 30px;
            
        }

        .navbar-nav {
            position: absolute;
            right: 0;
        }
    }

    

    
}
