@import "./global.scss";

.header {
    background-color: $beige;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        width: 300px;
        height: auto;
        margin: 1rem;
    }
}