@import "./global.scss";

.header {
    background-color: $beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 70px;
    padding: 0px 1rem;
    margin-bottom: 30px;
 
    .logo {
        width: 150px;
        height: auto;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;

        .cartIcon {
            width: 20px;
            margin-right: 2rem;
        }

        .toggleContainer {
        
            img {
                width: 20px;
                cursor: pointer;
            }

            // UL
            .navbar-nav {
                position: absolute;
                width: 100vw;
                min-height: 100vh;
                top: 70px;
                right: 0;
                background-color: rgba(255, 255, 255, 0.95);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                font-family: $headingFont;
                margin: 0px;
                padding: 90px 0px 0px 0px;
                z-index: 10000;
                
    
                //LI
                .navItem {
                    list-style-type: none;
                    padding: 25px 0px;
                    font-size: 2.5rem;
                }

                //LINK
                .navLink {
                    color: $textColor;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                        color: $hoverLink;
                    }
                }
            }
            .animationCloseMenu {
                animation-name: animationCloseMenu;
                animation-duration: 0.5s;

                @keyframes animationCloseMenu {
                    
                    from {right: 0%;}
                    to {right: -100%;}
                }
            }

            .animationShowMenu {
                animation-name: animationShowMenu;
                animation-duration: 0.5s;
                
                @keyframes animationShowMenu {
                    
                    from {right: -100%;}
                    to {right: 0%;}
                }
            }        
        }

    }

    

    
}
