@import "./global.scss";

.loginForm {
    border: 1px solid black;
    width: fit-content;
    margin: 0px auto;
    padding: 3rem 3rem;
    font-family: $textFont;
    background-color: $beige;
    

    label {
        font-size: 1rem;
    }

    input {
        height: 1.5rem;
        width: 12rem;
        margin-bottom: 1rem;
        background-color: $greyWhite;
        border: 1px solid black;
        border-radius: 5px;

        &:hover {
            background-color: $white;
        }

        &:active {
            background-color: $white;
        }
    }

    .loginBtn {
        background-color: $greyWhite;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0.5em 1em;
        font-size: 1rem;
        font-family: $textFont;
        margin-top: 1em;
        cursor: pointer;

        &:hover {
            background-color: $hoverButton;
        }

        &:active {
            background-color: $activeButton;
            color: $white;
        }
    }

    .errorMessage {
        color: $errorMessageColor;
        font-style: italic;
        font-size: 0.75rem;
        margin: 1.5rem auto 0rem auto;
        width: 12rem;
    }

}


// ----------------------- TABLET -------------------------------
@media only screen and (min-width: 700px) {
    

    .header {
        
        .logo {
            width: 180px;
            height: auto;
        }

        .navLink {
            font-size: 2.5rem;
        }
    }

    .loginForm {
        padding: 4rem 5rem;

        .label {
            font-size: 1.5rem;
        }

        .inputUserName, .inputPassword {
            height: 2rem;
        }

        .loginBtn {
            padding: 0.75rem 1rem;
        }
    }
    
}





