@import "./global.scss";

.product {

    span {
        background-color: red;
    }

    .animateCartNumber {
        animation-name: animateCartNumber;
        animation-duration: 1s;
        
    }

    @keyframes animateCartNumber {            
        from {background-color: red;}
        to {background-color: yellow;}
    }

    .productImage {
        width: 50px;
    }

    .buySection {
        display: flex;

        .buyBtn {
            display: flex;
            justify-content: center;
            align-items: center;

            .cartIcon {
                width: 20px;
            }
        }

        
    }
}
