@import "./global.scss";

.trainingProgramContainer {
    margin: 2rem 0rem 5rem 0rem;
    padding: 0rem 1.5rem;

    .buttonSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    

    .backButton, .buttonToWorkoutbank {
        width: fit-content;
        background-color: $beige;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
        font-family: $textFont;
        text-decoration: none;
        color: $textColor;
        cursor: pointer;
    }


    .title {
        font-family: $headingFont;
        font-size: 1.5rem;
        //margin: 0rem 1.5rem;
    }

    table {
        //margin: 0rem 1.5rem;
        margin: 0px auto;
    }

    table, thead, th, tr, td {
        font-family: $textFont;
        font-size: 12px;
        border: 1px solid black;
        border-collapse: collapse; 
    
        td, th {
            //padding: 1rem;
            text-align: center;
        }

        th {
            padding: 10px;
        }

        button {
            margin: 10px;
            font-size: 12px;
            background-color: $beige;
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px 10px;
        }
    }
}