@import "./global.scss";

.webshopContainer {

    .cartSection {

        span {
            background-color: red;
        }
    
        .animateCartNumber {
            animation-name: animateCartNumber;
            animation-duration: 1s;
            
        }
    
        @keyframes animateCartNumber {            
            from {background-color: red;}
            to {background-color: yellow;}
        }
    }

    .productContainer{
        margin: 0rem 0rem;
    }
    

    hr.hr {
       border-top: 1px solid black;
       width: 90%;
    }
}