@import "./global.scss";

.workoutbankContainer {

    margin: 2rem 0rem 5rem 0rem;
    padding: 0rem 1.5rem;
    


    h1 {
        font-family: $headingFont;
        font-size: 1.5rem;
    }

    .categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: column;
        width: fit-content;
        margin: 0px auto;
    }

}


// ----------------------- TABLET -------------------------------
@media only screen and (min-width: 700px) {
    .workoutbankContainer {
        
        

        h1 {
            font-size: 1.5rem;
        }
    
        .categories {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            flex-direction: row;
            width: 37.5rem;
            margin: 0px auto;
        }
    
    }

}